.modal {
    height: 400px;
    width: 600px;
    background-color: #fff;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0;
}

.zipcode-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    height: 70px;
    width: 50px;
    text-align: center;
    font-size: 40px;
    border-radius: 6px;
    border: 1px solid #000;
    opacity: 1;
}

button {
    margin-top: 20px;
}