.weather-container {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.location-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.location-info {
    text-align: left;
}

.location-info p:first-child {
    margin-bottom: 0;
    font-size: 14px;
}

.location-info p:last-child {
    margin-top: 0;
    font-size: 20px;
}

.weather-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.temp {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
}

.weather-desc {
    width: 50%;
    text-align: center;
}

.weather-desc p:first-child {
    font-size: 20px;
    margin: 0;
    line-height: 25px;
    text-transform: capitalize;
}

.weather-desc p:last-child {
    font-size: 14px;
    margin-top: 10px;
    font-style: italic;
}

.item-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 140%;
    left: -20%;
    top: 45px;
}

@media (max-width: 480px) {
    .item-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        left: -10%;
        top: 20px;
        column-gap: 15px;
        row-gap: 15px;
        position: relative;
        width: 120%;
    }

    .weather-container {
        justify-content: flex-start;
        height: 90%;
    }

    .location-info-container {
        flex-direction: column;
        margin-bottom: 0;
    }

    .location-info {
        text-align: center;
    }

    .weather-block {
        padding: 0;
        flex-direction: column;
    }
}