body {
    background-image: url(./assets/sunny-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: "Poppins", sans-serif;
}

.modal {
    height: 400px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0;
}

.container {
    text-align: center;
    height: 80%;
    width: 70%;
}